
.auth-form__input {
    display: block;
    margin-bottom: 28px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #ffffff;
    border-bottom: #cccccc solid 1px;
    padding-bottom: 13px;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-form__input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}
