.profile__avatar {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}



@media screen and (max-width: 720px) {
    .profile__avatar {
        margin: 0;
    }
}

.profile__avatar:hover {
    opacity: .2;
}


