.btn_type_add {
    height: 50px;
    width: 150px;
    background-image: url(../add.svg);
    background-repeat: no-repeat;
    border: solid 2px #fff;
    background-position: center;
    margin-left: auto;
    border-radius: 2px;



}

.btn_type_add:hover {
    border: solid 2px #fff;
}

.btn_type_add:focus {
    border: solid 2px #fff;
}





@media screen and (max-width: 720px) {
    .btn_type_add {
        width: 280px;
        margin-left: 0;
        margin-top: 36px;
    }
}