@import url(./__icon/info-tool-tip__icon.css);
@import url(./__title/Info-tool-tip__title.css);


.info-tool-tip {
    width: 400px;
    padding: 36px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    max-width: 70%;
}
